<!-- product-list.component.html -->

<div class="view-toggle">
    <button (click)="toggleView()">Cambiar Vista</button>
  </div>
<div>
    <button class="btn btn-success btn-sm" [routerLink]="'/agregarProductos'">Agregar Producto</button>
</div>
  
  <div *ngIf="isCardView; else tableView" class="product-list-cards">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="getImageUrl(product.imagen)" class="product-image" >
      <div class="product-details">
        <h3 class="product-name">{{ product.nombre }}</h3>
        <p class="product-description">{{ product.descripcion }}</p>
        <p class="product-price">Precio: ${{ product.precio }}</p>
        <p class="product-stock">Stock: {{ product.stock_existencia }}</p>
        <div class="product-actions">
          <button class="btn btn-sm btn-primary " [routerLink]="['/editarProducto',product.id]">Editar</button>
          <button class="btn btn-sm btn-danger mx-3" [routerLink]="['/eliminarProducto',product.id]">Eliminar</button>
          <button class="btn btn-sm btn-info mx-3" [routerLink]="['/agregarStock',product.id]">Add Stock</button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #tableView>
    <div class="product-list-table">
      <table>
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td><img [src]="getImageUrl(product.imagen)" class="product-image" style="height: 80px; width: 80px;"></td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td>
            <td>${{ product.precio }}</td>
            <td>{{ product.stock_existencia }}</td>
            <td>
              <button class="btn btn-sm btn-primary" [routerLink]="['editarProducto',product.id]">Editar</button>
              <button class="btn btn-sm btn-danger" [routerLink]="['/eliminarProducto',product.id]">Eliminar</button>
              <button class="btn btn-sm btn-info" [routerLink]="['/agregarStock',product.id]">Add Stock</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  