<div class="card">
  <div class="card-header">
    <h1>Detalle Venta</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid" id="detVentas">
      <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-end">
          <a class="btn btn-primary" id="regresardet" routerLink="/Aprovacion">
            <i class="fas fa-arrow-left mr-2"></i>Regresar
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table" id="tablaDetVentas">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of detalle_ventas">
                <td>{{ producto.producto.nombre }}</td>
                <td>{{ producto.producto.modelo }}</td>
                <td>{{ producto.producto.color }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cantidad * producto.precio }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">
          <!-- Formulario para confirmar el envío -->
          <form>
            <input type="number" name="idDetVent" [(ngModel)]="idVenta" hidden>
            <!-- El botón y el formulario se mostrarán solo si estatus es falso -->
            <button type="submit" class="btn btn-primary btn-enviar" [style.display]="!estatus ? 'block' : 'none'" (click)="confirmarEnvio()">
              <i class="fas fa-paper-plane" style="color: #ffffff;"></i> Confirmar envío
            </button>
          </form>
          <!-- El mensaje se mostrará solo si estatus es verdadero -->
          <p id="ventaEnviada" [style.display]="estatus ? 'block' : 'none'">La venta ya ha sido enviada.</p>
        </div>
      </div>

    </div>
  </div>
</div>
