<div class="Cabecera-catalogo">
  <img src="../../assets/logoD.jpg" alt="GorillaCaps" class="imagen-cabecera">
  <p class="titulo-cabecera">Bienvenido a GorillaCaps</p>
  <p class="subtitulo-cabecera">Descubre la mejor selección de gorras</p>
</div>

<h2>Productos destacados</h2>
<div class="product-carousel">
    <div class="product-carousel" (mouseenter)="startScroll()" (mouseleave)="stopScroll()">
      <div class="product-list-cards">
          <div title="Click para ver producto" *ngFor="let product of products" class="product-card">
            <img [src]="getImageUrl(product.imagen)" class="product-image" >
            <div class="product-details">
              <h3 class="product-name">{{ product.nombre }}</h3>
              <p class="product-description">{{ product.descripcion }}</p>
              <p class="product-price">Precio: ${{ product.precio }}</p>
              <p class="product-stock">Stock: {{ product.stock_existencia }}</p>
              <div class="product-actions">
                  <button class="btn btn-sm btn-primary" (click)="agregarC(product.id)">
                    <mat-icon>shopping_cart</mat-icon>
                    Agregar</button>
                  <a class="btn btn-sm btn-primary" [routerLink]="['ProductoDetalle',product.id]">
                    <mat-icon>remove_red_eye</mat-icon>
                    Ver Producto</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<br>
<h2>Explora nuestros productos</h2>
<div class="col-md-4">
  <input class="form-control filtro-input" [(ngModel)]="listFilter" name="filter" type="text" placeholder="Buscar...">
</div>
<br>
<div class="product-list-cards-general" style="padding: 10px;">
  <div title="Click para ver producto" *ngFor="let product of products | catalogoFilter:listFilter" class="product-card-general">
    <img [src]="getImageUrl(product.imagen)" class="product-image-general" >
    <div class="product-details-g">
      <h3 class="product-name-g">{{ product.nombre }}</h3>
      <p class="product-description-g">{{ product.descripcion }}</p>
      <p class="product-price-g">Precio: ${{ product.precio }}</p>
      <p class="product-stock-g">Stock: {{ product.stock_existencia }}</p>
      <div class="product-actions-g">
          <button class="btn btn-sm btn-primary" (click)="agregarC(product.id)">
            <mat-icon>shopping_cart</mat-icon>
            Agregar</button>
            <a class="btn btn-sm btn-primary" [routerLink]="['ProductoDetalle',product.id]">
              <mat-icon>remove_red_eye</mat-icon>
              Ver Producto</a>
      </div>
    </div>
  </div>
</div>
