/* styles.css */

/* Estilos generales para la tabla */
.card {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilos específicos para la tabla de materias primas */
  .table thead {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .table tbody tr:hover {
    background-color: #f8f8f8;
  }
  
  /* Estilos para el botón "Editar" */
  .mat-flat-button {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  .mat-flat-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el campo de filtro */
  .form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .col-md-2, .col-md-4, .col-md-6 {
    padding: 5px;
  }
  .danger-button {
    background-color: #dc3545; /* Color rojo de fondo */
    color: #fff; /* Color de texto blanco para mayor contraste */
    border: none; /* Sin borde para que se vea como un botón plano */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px 16px; /* Espaciado interno */
    cursor: pointer;
  }
  
  .danger-button:hover {
    background-color: #c82333; /* Color rojo oscuro al pasar el mouse */
  }
  
  .danger-button:active {
    background-color: #bd2130; /* Color rojo más oscuro al hacer clic */
  }
  
  .success-button{
    background-color: #28a745; /* Color verde de fondo */
    color: #fff; /* Color de texto blanco para mayor contraste */
    border: none; /* Sin borde para que se vea como un botón plano */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px 16px; /* Espaciado interno */
    cursor: pointer;
  }

  .success-button:hover {
    background-color: #218838; /* Color verde oscuro al pasar el mouse */
  }

  .success-button:active {
    background-color: #1e7e34; /* Color verde más oscuro al hacer clic */
  }
  .button-buy{
    background-color: #00ba16; /* Color azul de fondo */
    color: #fff; /* Color de texto blanco para mayor contraste */
    border: none; /* Sin borde para que se vea como un botón plano */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px 16px; /* Espaciado interno */
    cursor: pointer;
  }