<div class="form-container">
    <div class="back-button">
      <a [routerLink]="'/MateriasPrimas'">
        <mat-icon>arrow_back</mat-icon>
        Regresar
      </a>
    </div>
    <h2>Eliminar Materia Prima</h2>
    
    <form class="form" (ngSubmit)="obtenerMaterial(ediMateriaPrima.id)">
      <div class="form-group">
        <label for="nombre">ID:</label>
        <input type="text" id="nombre" name="id" [(ngModel)]="ediMateriaPrima.id" disabled>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="ediMateriaPrima.nombre" disabled>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" [(ngModel)]="ediMateriaPrima.descripcion" disabled></textarea>
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" [(ngModel)]="ediMateriaPrima.cantidad" disabled>
      </div>
      <div class="form-group">
        <label for="stock_minimo">Stock Mínimo:</label>
        <input type="number" id="stock_minimo" name="stock_minimo" [(ngModel)]="ediMateriaPrima.stock_Minimo" disabled>
      </div>
      
      <div class="form-group">
        <label for="estatus">Activo:</label>
        <input type="checkbox" id="estatus" name="estatus" [(ngModel)]="ediMateriaPrima.estatus" disabled>
      </div>
      <button type="submit" class="btn-danger" (click)="eliminar()">Eliminar Materia Prima</button>
    </form>
  </div>
  