<div class="form-container">
  <div class="back-button">
    <a [routerLink]="'/MateriasPrimas'">
      <mat-icon>arrow_back</mat-icon>
      Regresar
    </a>
  </div>
  <h2>Insertar Materia Prima</h2>
  
  <form (submit)="agregarMateriaPrima()" class="form">
    
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="regMateriaPrima.nombre" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" [(ngModel)]="regMateriaPrima.descripcion" required></textarea>
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" min="0" name="cantidad" [(ngModel)]="regMateriaPrima.cantidad" disabled>
    </div>
    <div class="form-group">
      <label for="stock_minimo">Stock Mínimo:</label>
      <input type="number" id="stock_minimo" min="0" name="stock_minimo" [(ngModel)]="regMateriaPrima.stock_Minimo" required>
    </div>
    <div class="form-group">
      <label for="estatus">Activo:</label>
      <input type="checkbox" id="estatus" name="estatus" [(ngModel)]="regMateriaPrima.estatus" disabled>
    </div>
    <button type="submit" class="btn-submit">Agregar Materia Prima</button>
  </form>
</div>
