<div class="container-fluid" id="ventasDasboards">
  <div class="row">
    <div class="col-md-6">
      <a (click)="mostrarVentaE()">
        <div class="panel bg-success">
          <h2 class="panel-title">Ventas Enviadas</h2>
          <i class="fas fa-truck fa-lg" style="color: #000000;"></i>
          <span class="panel-text"> {{conteo_ventas_enviadas}}</span>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a (click)="mostrarVentasPE()">
        <div class="panel bg-warning">
          <h2 class="panel-title">Ventas Pendientes Por Enviar</h2>
          <i class="fas fa-dolly fa-lg" style="color: #000000;"></i>
          <span class="panel-text"> {{conteo_ventas_pendientes}}</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid table-responsive" id="ventasP" [style.display]="ventasPDisplay">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Ventas Pendientes por Enviar</h1>
      <button class="btn btn-primary float-right" id="regresar" (click)="regresarVentas();">
        <i class="fas fa-arrow-left mr-2"></i> Regresar
      </button>
    </div>
    <div class="card-body">
      <form class="form-inline my-3" method="POST">
        <div class="form-group">
          <label for="fechaR" class="mr-2">Fecha de compra:</label>
          <input type="date" class="form-control mr-2" id="fechaR" name="fechaR">
        </div>
        <button type="button" class="btn btn-primary" (click)="buscarPorFechaR()">Buscar</button>
      </form>
      <hr>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center align-middle">Fecha</th>
              <th class="text-center align-middle">Cliente</th>
              <th class="text-center align-middle"></th>
              <th class="text-center align-middle"></th>
            </tr>
          </thead>
          <tbody>
            <!-- ... Contenido para ventas pendientes ... -->
            <tr *ngFor="let ventaE of ventas_pendientes">
              <td>{{ventaE.fecha}}</td>
              <td>{{ventaE.user.name}}</td>
              <td class="text-center align-middle">
                <button class="btn btn-success btn-sm"
                  [routerLink]="['/detalle-venta', ventaE.id, ventaE.estatus.toString()]"> Ver detalle </button>
              </td>
              <td class="text-center align-middle">
                <button class="btn btn-success btn-sm" (click)="confirmarEnvio(ventaE.id)">Confirmar Envío</button>
                <br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid table-responsive" id="ventasE" [style.display]="ventasEDisplay">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Ventas Enviadas</h1>
      <button class="btn btn-primary float-right" id="regresar" (click)="regresarVentas();">
        <i class="fas fa-arrow-left mr-2"></i> Regresar
      </button>
    </div>
    <div class="card-body">
      <form class="form-inline my-3" method="POST">
        <div class="form-group">
          <label for="fechaR" class="mr-2">Fecha de compra:</label>
          <input type="date" class="form-control mr-2" id="fechaR" name="fechaR">
        </div>
        <button type="button" class="btn btn-primary" (click)="buscarPorFechaR()">Buscar</button>
      </form>
      <hr>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center align-middle">Fecha</th>
              <th class="text-center align-middle">Cliente</th>
              <th class="text-center align-middle"></th>
            </tr>
          </thead>
          <tbody>
            <!-- ... Contenido para ventas enviadas ... -->
            <tr *ngFor="let ventaE of ventas_enviadas">
              <td>{{ventaE.fecha}}</td>
              <td>{{ventaE.user.name}}</td>
              <td class="text-center align-middle">
                <button class="btn btn-success btn-sm" [routerLink]="['/detalle-venta', ventaE.id, ventaE.estatus]"> Ver
                  Detalle </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
