 /* Estilos para el fondo del dashboard */
 #ventasDasboards {
  background-color: #f2f2f2;
  padding: 30px;
}

/* Estilos para el título de los paneles */
.panel-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para los paneles */
.panel {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px #bbb;
  margin-bottom: 30px;
}

/* Estilos para los íconos de los paneles */
.panel-icon {
  font-size: 48px;
  color: #333;
  margin-right: 10px;
}

/* Estilos para el texto de los paneles */
.panel-text {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.panel:focus,
.panel:hover {
  outline: none;
}

#regresar {
  background: none;
  border: none;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #337ab7;
  float: left;
}

#regresar:hover {
  color: #23527c;
  border-bottom: 1px solid #23527c;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}
