.card {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.table {
  margin-bottom: 0;
}

.table th {
  border-top: none;
  font-weight: bold;
  text-transform: uppercase;
}

.table td {
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#btn-en-camino {
  background-color: black;
  border-color: gold;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

#btn-en-camino:hover {
  background-color: gold;
  border-color: white;
  color: black;
  transform: scale(1.1);
}


#btn-pendientes {
  background-color: black;
  border-color: gold;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

#btn-pendientes:hover {
  background-color: gold;
  border-color: white;
  color: black;
  transform: scale(1.1);
}
