/* Estilos base */
.navbar {
  background-color: #f9f9f9; /* Color de fondo de la barra de navegación */
}

.navbar .navbarMenuHeroA {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos al extremo derecho */
  align-items: center;
  padding: 10px 0; /* Añade espacio alrededor de la barra de navegación */
}

.navbar h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 30px; /* Tamaño de letra ajustado para dispositivos más pequeños */
  color: #1c4069;
  margin-right: auto; /* Empuja los elementos a la izquierda */
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-left: 20px; /* Espacio entre los elementos de la barra de navegación */
}

.navbar .nav-link {
  color: #1c4069;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

.navbar .nav-link:hover {
  color: #bd8e42;
}

.navbar .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #bd8e42;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .nav-link:hover::after {
  width: calc(100% - 20px); /* Ancho de la línea menos el margen izquierdo del enlace */
}

/* Media Queries para hacerlo responsivo */
@media screen and (max-width: 768px) {
  .navbar .navbarMenuHeroA {
    flex-direction: column; /* Cambia la dirección para dispositivos más pequeños */
    align-items: flex-end; /* Alinea al extremo derecho */
  }

  .navbar h2 {
    font-size: 25px; /* Ajusta el tamaño de la fuente para dispositivos más pequeños */
  }

  .navbar ul {
    flex-direction: column; /* Cambia la dirección para dispositivos más pequeños */
    align-items: flex-end; /* Alinea al extremo derecho */
  }

  .navbar li {
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-bottom: 10px; /* Agrega espacio entre los elementos */
  }
}
