/* Estilos para la sección principal */
.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Estilos para el título del formulario */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Estilos para el formulario */
.card {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 2rem;
}

.form-control {
  border-radius: 0.5rem;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0062cc;
  border-color: #005cbf;
}

/* Estilos para los botones de selección múltiple */
select[multiple] {
  height: 8rem;
}

/* Estilos para los botones de envío */
button[type="submit"] {
  margin-top: 2rem;

}

h6 {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 2rem;
}

/*estilos para que el footer se quede abajo*/
html,
body {
  height: 100%;
  background-color: #f9f9f9;
}

/*estilos para que mis cards se vean bien*/
.card {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: purple;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field::-moz-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:-moz-placeholder-shown~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__field:-ms-input-placeholder~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__field:placeholder-shown~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #116399, #38caef);
  border-image: -webkit-gradient(linear, left top, right top, from(#116399), to(#38caef));
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.button {
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(160px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 200px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}

/*estilos para imagenes*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

/*estilos para el card-body de la imagen*/
.card-body {
  padding: 0.25rem;
}


/*estilos de la tabla*/
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.table th {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
  flex: content;
}

.table td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
  flex: content;
}

.table th {
  font-weight: bold;
  background-color: #f9f9f9;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.2);
}

.table td {
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.2);
}

.product-img {
  max-width: 100px;
  max-height: 100px;
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
}

.anyClass {
  height: 150px;
  overflow-y: scroll;
}

.form-check-group {
  flex-basis: 33.33%;
  padding: 0 10px;
  box-sizing: border-box;
}



/*estilos para los social buttons*/

.social-links,
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #cc39a4;
}

#github {
  fill: #005cbf;
}

#navdvar {
  background-color: #0D0D0D;
}

#fotter {
  background-color: #0D0D0D;
}

#al {
  color: goldenrod; /* dorado metálico */
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
}
#al2 {
  color: goldenrod; /* dorado metálico */
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

#content {
  background-color: #f9f9f9;
}

.navbar-nav a:hover {
  color: #f5a623;
  /* Cambia el color del enlace cuando el mouse está encima */
}

.navbar-nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #f5a623;
  /* Color de la línea */
  transition: width 0.3s ease-in-out;
  /* Animación de la línea */
}

.navbar-nav a:hover::after {
  width: 100%;
  /* Ancho de la línea cuando el mouse está encima */
}

footer {
  background: #0D0D0D;
  padding: 45px 0 30px 0;
  margin: auto;
  overflow: hidden;
  display: absolute;
  color: gold;
  padding: 20px;
}



.contenedor-footer {
  text-align: justify;
}


