<nav class="navbar navbar-expand-lg" id="navdvar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/logoD.jpg" width="135px" height="35px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuHeroA"
      aria-controls="navbarMenuHeroA" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenuHeroA">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="ltoken; else notLoggedIn">
          <!-- Mostrar opciones cuando el usuario está logueado -->
          <ng-container *ngIf="admin">
            <!-- Mostrar opciones para usuarios administradores -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/Proveedor" routerLinkActive="active" id="al" title="Proveedores">
                <i class="fa-solid fa-truck-field-un fa-lg"></i> Ver Proveedores
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Usuarios" routerLinkActive="active" id="al" title="Usuarios">
                <i class="fa-regular fa-circle-user fa-lg"></i> Ver Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/MateriasPrimas" routerLinkActive="active" id="al"
                title="Materias Primas">
                <i class="fa-solid fa-boxes-stacked fa-lg"></i> Ver Materias Primas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ComprasGet" routerLinkActive="active" id="al" title="Compras">
                <i class="fa-solid fa-money-check-dollar fa-lg"></i> Ver Compras
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/productosGet" routerLinkActive="active" id="al" title="Productos">
                <i class="fa-solid fa-shirt fa-lg"></i> Ver Productos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/PedidosGet" routerLinkActive="active" id="al" title="Pedidos">
                <i class="fa-solid fa-basket-shopping fa-lg"></i> Ver Pedidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Finanzas" routerLinkActive="active" id="al" title="Finanzas">
                <i class="fa-solid fa-users-viewfinder fa-lg"></i> Finanzas
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" id="al" title="Dashboard">
                  <i class="fa-solid  fa-boxes-stacked "></i> Dashboard
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" (click)="cerrarSesion()" id="al3">Cerrar Sesión</a>
            </li>

          </ng-container>
          <ng-container *ngIf="!admin && empleado">
            <!-- Mostrar opciones para usuarios con empleado true (empleados) -->
            <!-- ... Opciones del menú para empleados ... -->
            <li class="nav-item">
              <a class="nav-link" (click)="cerrarSesion()" id="al3">Cerrar Sesión</a>
            </li>
          </ng-container>
          <ng-container *ngIf="!admin && !empleado">
            <!-- Mostrar opciones para usuarios con empleado false (clientes) -->
            <!-- ... Opciones del menú para clientes ... -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/Catalogo" routerLinkActive="active" id="al" title="Catalogo Cliente">
                <i class="fa-solid fa-users-viewfinder fa-lg"></i> Catalogo Cliente
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Pedidos/{{ id }}" routerLinkActive="active" id="al" title="Mis pedidos">
                <i class="fa-solid fa-basket-shopping fa-lg"></i> Mis pedidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Catalogo" routerLinkActive="active" id="al" title="Catalogo Cliente">
                <i class="fa-solid fa-users-viewfinder fa-lg"></i> Catalogo
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="cerrarSesion()" id="al3">Cerrar Sesión</a>
            </li>
          </ng-container>
        </ng-container>
        <ng-template #notLoggedIn>
          <!-- Mostrar opciones cuando el usuario no está logueado -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/Catalogo" routerLinkActive="active" id="al" title="Catalogo Cliente">
              <i class="fa-solid fa-users-viewfinder fa-lg"></i> Catalogo
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Login" id="al2">LogIn - SingUp</a>
          </li>

        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <router-outlet></router-outlet>
</div>

<footer class="">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5 class="mb-3">Navegación</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
          <h5 class="subtitle" id="al">Síguenos en redes sociales</h5>
          <div class="social-links">
            <div id="twitter" class="social-btn flex-center">
              <a href="https://twitter.com/?lang=es"><svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z">
                </path>
              </svg></a><span>@Sartorial</span>
            </div>

            <div id="linkedin" class="social-btn flex-center">
              <a href="https://www.instagram.com/"><svg viewBox="0 0 27 27" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M11.46875,5c-3.55078,0 -6.46875,2.91406 -6.46875,6.46875v9.0625c0,3.55078 2.91406,6.46875 6.46875,6.46875h9.0625c3.55078,0 6.46875,-2.91406 6.46875,-6.46875v-9.0625c0,-3.55078 -2.91406,-6.46875 -6.46875,-6.46875zM11.46875,7h9.0625c2.47266,0 4.46875,1.99609 4.46875,4.46875v9.0625c0,2.47266 -1.99609,4.46875 -4.46875,4.46875h-9.0625c-2.47266,0 -4.46875,-1.99609 -4.46875,-4.46875v-9.0625c0,-2.47266 1.99609,-4.46875 4.46875,-4.46875zM21.90625,9.1875c-0.50391,0 -0.90625,0.40234 -0.90625,0.90625c0,0.50391 0.40234,0.90625 0.90625,0.90625c0.50391,0 0.90625,-0.40234 0.90625,-0.90625c0,-0.50391 -0.40234,-0.90625 -0.90625,-0.90625zM16,10c-3.30078,0 -6,2.69922 -6,6c0,3.30078 2.69922,6 6,6c3.30078,0 6,-2.69922 6,-6c0,-3.30078 -2.69922,-6 -6,-6zM16,12c2.22266,0 4,1.77734 4,4c0,2.22266 -1.77734,4 -4,4c-2.22266,0 -4,-1.77734 -4,-4c0,-2.22266 1.77734,-4 4,-4z">
                </path>
              </svg></a><span>@Sartorial</span>
            </div>

            <div id="github" class="social-btn flex-center">
              <a href="https://www.facebook.com/Sartorial_Online"><svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M21.12 0H2.88C1.293 0 0 1.293 0 2.88v18.24C0 22.707 1.293 24 2.88 24h9.44v-9.294H8.484v-3.616h3.836V8.32c0-3.813 2.329-5.882 5.718-5.882 1.614 0 3.004.12 3.394.173v3.966l-2.323.001c-1.825 0-2.171.868-2.171 2.129v2.785h4.334l-.567 3.617h-3.767V24h7.356c1.587 0 2.88-1.293 2.88-2.88V2.88C24 1.293 22.707 0 21.12 0z">
                </path>
              </svg></a><span>Sartorial</span>
            </div>
          </div>

      </div>
      <div class="col-md-6">
        <h5 class="mb-3">Sobre nosotros</h5>
        <p>Somos una tienda especializada en la venta de trajes de alta calidad. Ofrecemos una amplia variedad de estilos y tallas para satisfacer las necesidades de nuestros clientes más exigentes.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <p>&copy; 2023 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
