.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cce4f3;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: inline-block;
    width: 120px;
  }
  
  p {
    margin: 0;
  }
  
  img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .titulo {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #1c4069; /* Color del texto */
    text-transform: uppercase; /* Convertir a mayúsculas */
    border-bottom: 2px solid #1c4069; /* Línea decorativa en la parte inferior */
    padding-bottom: 10px; /* Espacio debajo de la línea */
  }