/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #cce4f3;
}

/* Estilo de la tarjeta */
.card {
  max-width: 800px;
  margin: 10px auto;
  background-color: #cce4f3;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #031546;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.card-body {
  margin-bottom: 10px;
}

/* Estilo del filtro */
.row {
  margin-bottom: 10px;
}

input.form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

/* Estilo del botón Agregar */
button.mat-raised-button {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button.mat-raised-button mat-icon {
  margin-right: 2.5px;
}

button.mat-raised-button:hover {
  background-color: #0056b3;
}

/* Estilo de la tabla */
/* Estilo de la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}


/* Estilo de los encabezados */
.header-row th {
  background-color: #1c4069; /* Color para los encabezados */
  color: #fff; /* Texto en blanco */
  padding: 10px;
}

/* Estilo de las filas impares */
.odd-row {
  background-color: #ACC3D3; /* Color para filas impares */
}

/* Estilo de las filas pares */
.even-row {
  background-color: #FFFFFF; /* Color para filas pares */
}

/* Estilo de los botones Editar y Eliminar en la tabla */
.table td button.mat-flat-button {
  padding: 3px 6px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table td button.mat-flat-button.color-primary {
  color: #007bff;
}

.table td button.mat-flat-button.color-warn {
  color: #dc3545;
}

.table td button.mat-flat-button:hover {
  background-color: #f0f0f0;
}


.table th,
.table td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.table th {
  font-weight: bold;
}

/* Estilo de los botones Editar y Eliminar en la tabla */
.table td button.mat-flat-button {
  padding: 3px 6px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table td button.mat-flat-button.color-primary {
  color: #007bff;
}

.table td button.mat-flat-button.color-warn {
  color: #dc3545;
}

.table td button.mat-flat-button:hover {
  background-color: #f0f0f0;
}
/* Estilos de búsqueda */
.search-container {
  position: relative;
}

.search-container input {
  padding-right: 30px; /* Espacio para el ícono */
}

.search-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #1C3E66; /* Color del ícono */
  cursor: pointer;
}
/* Estilo del label con fondo azul */
.blue-label {
  display: inline-block;
  padding: 5px 10px;
  background-color: #1C3E66; /* Fondo azul */
  color: #fff; /* Texto en blanco */
  border-radius: 6px;
}
/* Definir un color personalizado */
.mat-success {
  background-color: #28a745; /* Color verde */
  color: #fff; /* Texto en blanco */
}

/* Cambiar el color del botón al color personalizado */
button.mat-success {
  background-color: #28a745; /* Color verde */
  color: #fff; /* Texto en blanco */
}

