/* Estructura para acomodar las gráficas en dos grupos (ventas y compras arriba, utilidad abajo) */
.chart-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem; /* Reducir el valor de margin-bottom según prefieras */
  background-color: #f2f2f2; /* Color de fondo gris para el grupo de gráficas */
  padding: 1rem; /* Espacio interno (padding) para el grupo de gráficas */
}

.chart-group .chart-container {
  flex: 1;
}

/* Ajustar el tamaño de los gráficos al 100% del contenedor */
.chart-container ngx-charts-bar-vertical {
  width: 100%;
  height: 70%;
}
/* Personaliza el color de la primera gráfica (ventas) */
.custom-chart .bar {
  fill: #5AA454;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.container-fluid {
    margin-top: 50px;
}

.card {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.card-header {
    background-color: grey;
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 20px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: .5rem;
}

.form-control {
    border-radius: 0;
    border-color: #ccc;
}

.form-check-input {
    margin-right: .5rem;
}

.btn-primary {
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    transition: background-color .2s;
}

.btn-primary:hover {
    background-color: #000000;
    border-color: #000000;
}

img {
    display: inline-block;
    vertical-align: middle;
}
