<h3>Eliminar</h3>
<hr>

<form (ngSubmit)="eliminarProveedor()">
    <label>Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="proveedorElim.nombre" placeholder="Nombre" readonly>
    <label>Email:</label>
    <input type="text" name="email" [(ngModel)]="proveedorElim.email" placeholder="Email" readonly>
    <label>Telefono:</label>
    <input type="text" name="telefono" [(ngModel)]="proveedorElim.telefono" placeholder="Telefono" readonly>
    <label>Dirección:</label>
    <input type="text" name="direccion" [(ngModel)]="proveedorElim.direccion" placeholder="Dirección" readonly>
    
  <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
