<div class="container">
  <h2 class="form-title">Formulario de Registro de Productos</h2>

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
  </div>
  <div class="form-group">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" [(ngModel)]="color" required>
  </div>
  <div class="form-group">
    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" name="modelo" [(ngModel)]="modelo" required>
  </div>
  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" [(ngModel)]="precio" required>
  </div>
  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="file" id="inputImagen" name="imagen" accept="image/*" [(ngModel)]="imagen" />
  </div>
  <div class="form-group">
    <label for="stock_existencia">Stock Existencia:</label>
    <input type="number" id="stock_existencia" name="stock_existencia" [(ngModel)]="stock_existencia" required>
  </div>
  <div class="form-group" style="display: none;">
    <label for="estatus">Estatus:</label>
    <input type="checkbox" id="estatus" name="estatus" [(ngModel)]="estatus" disabled>
  </div>
  <div class="form-group" *ngFor="let materiaPrimaItem of materiaPrimaSeleccionada" style="display: flex; align-items: center;">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="materiaPrimaItem.seleccionado" name="ingredientes" />
      {{ materiaPrimaItem.materiaPrima.nombre }}
    </label>
    <label for="cantidadIndividual" style="margin-left: 10px;">Cantidad Individual:</label>
    <input type="number" id="cantidadIndividual" name="cantidadIndividual" [(ngModel)]="materiaPrimaItem.cantidadIndividual" required>
  </div>
  <div class="form-group">
    <button type="button" (click)="agregarProducto()">Agregar Producto</button>
  </div>
</div>
