<h3>Modificar</h3>
<hr>

<form (ngSubmit)="modificarUsuario()">
  <input type="text" name="nombre" [(ngModel)]="usuarioNuevo.name" placeholder="Nombre">
  <input type="text" name="apellido" [(ngModel)]="usuarioNuevo.email" placeholder="Correo electronico">
  <input type="password" name="email" [(ngModel)]="usuarioNuevo.password" placeholder="Contraseña">
  <mat-slide-toggle name="empleado" [(ngModel)]="usuarioNuevo.empleado">Es empleado</mat-slide-toggle>
  <button type="submit" class="btn btn-primary">Modificar</button>
</form>