<div class="container">
  <div *ngIf="producto">
    <h2>Actualizar Producto</h2>
    <div>
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="producto.nombre" required>
    </div>
    <div>
      <label>Descripción:</label>
      <input type="text" [(ngModel)]="producto.descripcion" required>
    </div>
    <div>
      <label>Precio:</label>
      <input type="number" [(ngModel)]="producto.precio" required>
    </div>
    <div>
      <label>Imagen Actual:</label>
      <img [src]="getImageUrl(producto.imagen)" style="width: 150px; height: 150px;">
    </div>
    <div>
      <label for="nuevaImagen">Nueva Imagen:</label>
      <input type="file" id="nuevaImagen" name="nuevaImagen" (change)="cargarImagen($event)" accept="image/*">
    </div>
    <div style="display: none;">
      <label>Stock Existencia Actual:</label>
      <input type="number" [(ngModel)]="producto.stock_existencia" required>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="actualizarProducto()">Actualizar Producto</button>
    </div>
  </div>
</div>
