<!-- <div *ngIf="detallePedido && detallePedido.length > 0"> -->
<h1 class="text-center">Confirmación de Pago</h1>

<div class="row">
  <div class="col-md-8">
    <div *ngFor="let producto of detallePedido" class="card mb-3">

      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="" class="card-img" alt="" style="height: 150px; width: 150px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text"><small class="text-muted">Modelo: {{ producto.modelo }}</small></p>
            <p class="card-text"><small class="text-muted">Descripción: {{ producto.descripcion }}</small>
            </p>
            <p class="card-text">Precio: ${{ producto.precio }} | Cantidad: {{ producto.cantidad }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Resumen de Pago</h5>
        <p class="card-text">El total es ${{ total }}</p>
        <form>
          <div class="form-group">
            <label for="metodo_pago">Seleccione método de pago:</label>
            <select class="form-control" id="metodo_pago" name="metodo_pago" [(ngModel)]="metodoPago">
              <option value="efectivo">Efectivo</option>
              <option value="tarjeta">Tarjeta</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="pagarArticulo()" >Continuar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<br><br>
