<div class="form-container">
  <h2 class="titulo">Registrar compra</h2>
  <form (submit)="registrarCompra()">
    <div class="form-group">
      <label for="proveedorId">Proveedor:</label>
      <select id="proveedorId" name="proveedorId" [(ngModel)]="proveedorId" required>
        <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.nombre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="materialId">Material ID:</label>
      <input type="number" id="materialId" name="materialId" [(ngModel)]="materialId" [value]="materialId" required disabled>
      <div *ngIf="material.id !== 0">
        <p>Nombre: {{ material.nombre }}</p>
        <p>Descripción: {{ material.descripcion }}</p>
        <p>Cantidad: {{ material.cantidad }}</p>
        <p>Stock Mínimo: {{ material.stock_Minimo }}</p>
        <p>Activo: {{ material.estatus ? 'Sí' : 'No' }}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad" required>
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" id="precio" name="precio" [(ngModel)]="precio" required>
    </div>
    <br>
    <button type="submit" class="btn-submit">Registrar Compra</button>
  </form>
</div>

